*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}


header{
    /* border: 1px solid red; */
    position:absolute;
    margin-left: 40%;
    margin-top: .5rem;
    /* margin-right: 50%; */
}
.headerr{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    /* text-decoration: none; */
}
.headerr li{
    color: white;
    list-style: none;
    font-size: 3rem;
    padding-right: 4.0rem;
    /* text-decoration: none; */
    /* list-style-type: none; */
}
a{
    text-decoration: none;
}
/* hover effect on header icon */

.headerr li:hover{
    color: #00F9B8;
    transition: 0.5s;
}

.cointainer{
     /* border: 1px solid rgb(47, 0, 255); */
    width: 100vw; 
    height: 100vh;
    display: flex;

    
}

.contact_form{    
    background-color: #010309;
    display: flex;
    flex-direction: column;
    width: 60%;
    /* height: 100vh; */
}


.contact_form h1{

    padding-top: 5.0rem;
    padding-left: 5.0rem;
    color: white;
    font-size: 5rem;
    font-weight: 900;
}

.fields{
    /* border: 1px solid green; */    
    display: flex;
    flex-direction: column;
    /* margin: 20rem; */
    margin: 0rem 2rem;
    margin-top: 9%;
    box-shadow: -0.3rem 0.3rem 4.0rem #B7112A;
}
.fields input{
    /* border: 10px solid red; */
    margin: 2.8rem 2.0rem;
    height: 4rem;
    outline: none;
    border-radius: 1px;
    background: none;
    outline: none;
    border: none;
    caret-color: rgb(255, 255, 255);
    color: white;
    font-size: 2rem;
   
}

#send{
    outline: none;
    background: none;
    background-color: #B7112A;
    border: none;
    color: white;
    font-size: 2.4rem;
    font-weight: lighter;
    border-radius: 20px;

    height: 5rem;
    margin-top: 5.0rem;
    margin-left: 35%;
    margin-right: 35%;
    cursor: pointer;
    
}

/*  second div */

.contact_us{
    
    /* border: 1px solid green; */
    background-color: #10203D; 
    width: 40%;
    /* height: 100vh; */

}

.contact_us h1{
    padding-top: 2.0rem;
    /* padding-left: 20px; */
    padding-bottom: 2.0rem;
    color: rgb(255, 255, 255);
    font-size: 5rem;

}
.main-container{
    /* border: 1px solid red; */
    margin-top: 25%;
    margin-left: 4.0rem;
}



.info h1{
    
    color: #B7112A;
    /* padding-left: 20px; */
    /* font-size: 2rem; */
}
.info h3{
    color: #6DA8F2;
    font-size: 2rem;

    /* padding-left: 20px; */
}
.social_media{
    /* border: 1px solid red; */
    margin-top: 4.0rem;
    /* width: 1; */
}
.social_media img{
    width: 3.0rem;
    margin-right: 1rem;
    /* height: 30p; */
}


     /* resposive coading from here  */

     @media screen and (max-width:768px) {
         


        .cointainer{
            flex-direction: column;

            
        }
        .headerr{
            display: none;
        }

        .contact_form{
            width: 100%;
        }
        #send{
            margin-bottom: 1.5rem;
        }
        
        .contact_us{
            width: 100%;
        }
        .social_media{
            margin-bottom: 1.5rem;
        }





     }