*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 60.5%;
    /* position: fixed; */
    overflow: hidden;

}

header{
    /* border: 1px solid red; */
    position:absolute;
    margin-left: 40%;
    margin-top: 0.5rem;
    /* margin-right: 50%; */
}
.headerr{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    /* text-decoration: none; */
}
.headerr li{
    color: white;
    list-style: none;
    font-size: 3rem;
    padding-right: 4.0rem;
    /* text-decoration: none; */
    /* list-style-type: none; */
}
a{
    text-decoration: none;
}
/* hover effect on header icon */

.headerr li:hover{
    color: #00F9B8;
    transition: 0.5s;
}


.cointainer{
    /* border: 1px solid rgb(47, 0, 255); */
    width: 100vw; 
    height: 100vh;
    display: flex;

    
}

.contact_form{    
    /* border: 1px solid red; */
    background-color: #010309;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
  
}


.contact_form h1{

    padding-top: 5.0rem;
    padding-left: 5.0rem;
    color: white;
    font-size: 5rem;
    font-weight: 900;
}

.fields{
    /* border: 1px solid green;     */
    
    margin: 0rem 15rem;
    margin-top: 10%;
    /* padding-top: 10%;; */
    box-shadow: -0.3rem 0.3rem 4.0rem #B7112A;
}
.fields input{
    /* border: 10px solid rgb(100, 247, 3); */
    width: 90%;
    margin: 3.8rem 2.0rem;

    height: 6rem;
    outline: none;
    display: flex;
    flex-direction: row;
    border-radius: 1px;
    background: none;
    outline: none;
    border: none;
    caret-color: rgb(255, 255, 255);
    color: white;
    font-size: 2rem;
    /* filter: grayscale(100%) brightness(110%); */
    overflow: hidden;
    
   
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:valid,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
{
    -webkit-transition-delay: 999990s;
    -webkit-text-fill-color:#ffffff;
}




#send{

    outline: none;
  
    background-color: #B7112A;
    color: white;
    font-size: 2.4rem;
    font-weight: lighter;
    border-radius: 20px;
    width: 20%;
    height: 5rem;
    /* margin-top: 35px; */
    margin-left: 35%;
    /* margin-right: 35%; */
    cursor: pointer;
    
    
}

/*  second div */

.contact_us{
    
    /* border: 1px solid green; */
    background-color: #10203D; 
    width: 40%;
    height: 100%;

}

.contact_us h1{
    padding-top: 2.0rem;
    /* padding-left: 20px; */
    padding-bottom: 2.0rem;
    color: rgb(255, 255, 255);
    font-size: 5rem;

}
.main-container{
    /* border: 1px solid red; */
    margin-top: 25%;
    margin-left: 4.0rem;
}



.info h1{
    
    color: #B7112A;
    /* padding-left: 20px; */
    /* font-size: 2rem; */
}
.info h3{
    color: #6DA8F2;
    font-size: 2rem;

    /* padding-left: 20px; */
}
.social_media{
    /* border: 1px solid red; */
    margin-top: 4.0rem;
    /* width: 1; */
}
.social_media img{
    width: 3.0rem;
    margin-right: 1rem;
    /* height: 30p; */
}


     /* resposive coading from here  */

     @media screen and (max-width:768px) {
         

        body{
            overflow: scroll;
            /* scroll-behavior: smooth; */
            height: 100%;
            /* position: relative; */
        }

        .cointainer{
            flex-direction: column;

            
        }
        .headerr{
            display: none;
        }

        .contact_form{
            width: 100%;
        }
        #send{
            /* margin-bottom: .5rem; */
        }

        .fields{
            margin: 0px 10%;
            /* width: 50%; */
        }
        
        .contact_us{
            width: 100%;
        }
        .social_media{
            margin-bottom: 1.5rem;
        }





     }